In [2]:
!pip install numpy pandas matplotlib seaborn scipy yfinance

Requirement already satisfied: numpy in c:\users\aidan\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: pandas in c:\users\aidan\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: matplotlib in c:\users\aidan\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: seaborn in c:\users\aidan\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: scipy in c:\users\aidan\anaconda3\lib\site-packages (1.15.3)
Requirement already satisfied: yfinance in c:\users\aidan\anaconda3\lib\site-packages (0.2.66)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aidan\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aidan\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aidan\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\aidan\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\aidan\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\aidan\anaconda3\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\aidan\anaconda3\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\aidan\anaconda3\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\aidan\anaconda3\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\aidan\anaconda3\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: requests>=2.31 in c:\users\aidan\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\aidan\anaconda3\lib\site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\aidan\anaconda3\lib\site-packages (from yfinance) (4.3.7)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\aidan\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\aidan\anaconda3\lib\site-packages (from yfinance) (3.18.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\aidan\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\aidan\anaconda3\lib\site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\aidan\anaconda3\lib\site-packages (from yfinance) (5.29.3)
Requirement already satisfied: websockets>=13.0 in c:\users\aidan\anaconda3\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\aidan\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in c:\users\aidan\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\aidan\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.11.12)
Requirement already satisfied: pycparser in c:\users\aidan\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Requirement already satisfied: six>=1.5 in c:\users\aidan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aidan\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aidan\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aidan\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.3.0)

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.optimize import minimize
from scipy.stats import norm
import warnings
warnings.filterwarnings('ignore')

#display settings
plt.style.use('seaborn-v0_8-darkgrid')
pd.set_option('display.max_columns', None)

# Introduction & Project Overview

# Part 1: Liability Modelling
## Setting Up Member Demographics and Assumptions

In [10]:
#Actuarial Assumptions
assumptions = {
    'discount_rate': 0.06,
    'salary_growth': 0.03,
    'retirement_age': 65,
    'mortality_improvement': 0.06,
    'benifit_accrual': 0.02
}

#Display Assumptions
print("Pension Fund Assumptions:")
print("-" * 40)
for key, value in assumptions.items():
    print(f"{key.replace('_', ' ').title()}: {value}")

Pension Fund Assumptions:
----------------------------------------
Discount Rate: 0.06
Salary Growth: 0.03
Retirement Age: 65
Mortality Improvement: 0.06
Benifit Accrual: 0.02

In [11]:
# Create a sample pension plan membership
np.random.seed(42)  # For reproducibility
n_members = 1000  # Number of plan members
ages = np.random.randint(25,65,n_members)
max_possible_service = ages -18
years_of_service = [np.random.randint(0, min(max_years, 35) + 1) for max_years in max_possible_service]


members = pd.DataFrame({
    'member_id': range(1, n_members + 1),
    'current_age': ages,
    'current_salary': np.random.uniform(40000, 150000, n_members),
    'years_of_service': years_of_service
})

# Display first few members
print("\nSample Plan Members:")
members.head(10)

Sample Plan Members:

   member_id  current_age  current_salary  years_of_service
0          1           63    58481.562852                13
1          2           53   121056.111944                21
2          3           39   134907.678530                10
3          4           32    63841.378010                 6
4          5           45    50528.601107                 0
5          6           63    42600.244465                20
6          7           43   110616.865049                25
7          8           47   106780.343970                13
8          9           35   100136.715399                 3
9         10           35    65514.180573                 0